---
import DashboardLayout from "@/layouts/dashboard-layout.astro";
import AddProductForm from "@/components/dashboard/inventory/add-product-form.astro";
import type { products } from "db/schema";

interface Props {
	editMode?: boolean;
	defaultValues?: typeof products.$inferSelect;
}

const { editMode = false, defaultValues } = Astro.props;

const title = editMode ? "Edit product" : "Add product";
---

<DashboardLayout title={title}>
    <main>
        <h1 class="text-2xl font-bold text-gray-800 mb-9">
            {title}
        </h1>

        <AddProductForm defaultValues={defaultValues} />
    </main>
</DashboardLayout>
