---
import DashboardLayout from "@/layouts/dashboard-layout.astro";
---

<DashboardLayout title="Reports">
    <header
        class="flex justify-between items-center gap-4 mb-8 p-4 bg-white/30 rounded-md shadow-md"
    >
        <div>
            <h1 class="text-2xl font-semibold">Reports</h1>
            <p>View and download reports for your organization.</p>
        </div>
    </header>
</DashboardLayout>
