---
import DashboardLayout from "@/layouts/dashboard-layout.astro";
import { RangeReport } from "@/components/dashboard/reports/widgets/range-report";
---

<DashboardLayout title="Reports">
    <header
        class="flex justify-between items-center gap-4 mb-8 p-4 bg-white/30 rounded-md shadow-md"
    >
        <div>
            <h1 class="text-2xl font-semibold">Reportes</h1>
            <p>Ver y descargar informes para tu organización.</p>
        </div>
    </header>

    <section>
        <RangeReport client:load />
    </section>
</DashboardLayout>
