---
import DashboardLayout from "@/layouts/dashboard-layout.astro";
import { getClients, getProducts } from "@/services/utils/get-products";
import { ProductCard } from "@/components/dashboard/sell-point/product-card";
import { ShopCar } from "@/components/dashboard/sell-point/shop-car";

const products = await getProducts();

const clients = await getClients();
---

<DashboardLayout title="Punto de venta">
    <main class="flex flex-col gap-4 h-full">
        <header
            class="flex justify-between items-center gap-4 mb-8 p-4 bg-white/30 rounded-md shadow-md"
        >
            <div>
                <h1 class="text-2xl font-semibold">Punto de venta</h1>
                <p>
                    Bienvenido al Punto de venta, aquí puedes vender productos a
                    tus clientes.
                </p>
            </div>
        </header>

        <div
            class="flex justify-between gap-4 p-4 bg-white/30 rounded-md shadow-md flex-1 overflow-hidden"
        >
            <section class="grid grid-cols-2 gap-4 h-full overflow-y-auto">
                {
                    products.map((product) => (
                        <ProductCard client:load {...product} />
                    ))
                }
            </section>

            <ShopCar clients={clients} client:load />
        </div>
    </main>
</DashboardLayout>
