---
import type { TransitionAnimationValue } from "astro";

interface Props {
  href: string;
}

const { href } = Astro.props;

const pathname = Astro.url.pathname;

const classNames = {
  selected: "text-white bg-black/80",
  notSelected:
    "text-black/80 black:text-white hover:text-white hover:bg-black/80",
};
---

<a
  href={href}
  class:list={[
    { [classNames.selected]: pathname === href },
    { [classNames.notSelected]: pathname !== href },
  ]}
  class="transition-all duration-200 ease-in-out py-2 px-4 rounded-md"
>
  <li>
    <slot />
  </li>
</a>
