---
import DashboardLayout from "../layouts/dashboard-layout.astro";
---

<DashboardLayout title="Dashboard">
    <main>
        <h1>Dashboard</h1>
        <p>Welcome to the dashboard</p>
    </main>
</DashboardLayout>
