---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<form id="login-form" action="/api/login">
			<label>
				<span>email</span>
				<input type="email" name="email" />
			</label>

			<label>
				<span>password</span>
				<input type="password" name="password" />
			</label>

			<button type="submit">Login</button>
		</form>
	</main>
</Layout>
