---
import LoginForm from "../components/login-form.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Login">
	<main class="flex justify-center items-center h-screen">
		<LoginForm />
	</main>
</Layout>
