---
import type { users } from "db/schema";

interface Props {
    defaultValues?: typeof users.$inferSelect;
}

const { defaultValues } = Astro.props;

const title = defaultValues != null ? "Editar usuario" : "Crear usuario";
const description =
    defaultValues != null
        ? "Edita los datos del usuario."
        : "Crea un nuevo usuario.";

const action =
    defaultValues != null
        ? `/api/workers/${defaultValues.id ?? ""}/edit`
        : "/api/workers";
---

<!--
// v0 by Vercel.
// https://v0.dev/t/3SCZ1rEFXtk
-->
<div class="mx-auto max-w-md space-y-6">
    <div class="space-y-2 text-center">
        <h1 class="text-3xl font-bold">{title}</h1>
        <p class="text-gray-500 dark:text-gray-400">
            {description}
        </p>
    </div>
    <form class="space-y-4" action={action} method="post">
        <div class="grid grid-cols-2 gap-4">
            <div class="space-y-2">
                <label
                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                    for="firstName"
                >
                    First Name
                </label>
                <input
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    id="firstName"
                    placeholder="John"
                    required=""
                    name="firstName"
                    value={defaultValues?.firstName ?? ""}
                />
            </div>
            <div class="space-y-2">
                <label
                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                    for="lastName"
                >
                    Last Name
                </label>
                <input
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    id="lastName"
                    placeholder="Doe"
                    required=""
                    name="lastName"
                    value={defaultValues?.lastName ?? ""}
                />
            </div>
        </div>
        <div class="space-y-2">
            <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="email"
            >
                Email
            </label>
            <input
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="email"
                placeholder="example@email.com"
                required=""
                name="email"
                type="email"
                value={defaultValues?.email ?? ""}
            />
        </div>
        <div class="space-y-2">
            <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="age"
            >
                Age
            </label>
            <input
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="age"
                min="18"
                max="100"
                required=""
                type="number"
                name="age"
                value={defaultValues?.age ?? ""}
            />
        </div>
        <div class="space-y-2">
            <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="role"
            >
                Role
            </label>
            <select
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="role"
                required
                name="role"
            >
                <option
                    value="worker"
                    selected={defaultValues?.role === "worker"}
                >
                    Worker
                </option>
                <option value="admin" selected={defaultValues?.role === "admin"}
                    >Admin</option
                >
            </select>
        </div>
        <div class="space-y-2">
            <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="password"
            >
                Password
            </label>
            <input
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="password"
                required={defaultValues == null}
                name="password"
                type="password"
            />
        </div>
        <button
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full"
            type="submit"
        >
            Register
        </button>
    </form>
</div>
