---
import LiElement from "./aside-utils/li-element.astro";

// @ts-expect-error - Astro doesn't know about locals yet
const user = Astro.locals.user;
---

<aside class="h-screen overflow-hidden border-r border-r-white/20 px-5 py-4">
  <h1 class="text-2xl font-bold text-black mb-4">
    Hola {user.firstName}!
  </h1>

  <nav>
    <ul class="flex flex-col gap-1">
      <LiElement href="/dashboard"> Inicio </LiElement>
      <LiElement href="/dashboard/sell-point">Punto de venta</LiElement>

      {
        user.role === "admin" && (
          <>
            <LiElement href="/dashboard/inventory">Inventario</LiElement>
            <LiElement href="/dashboard/workers">Trabajadores</LiElement>
            <LiElement href="/dashboard/reports">Reportes</LiElement>
          </>
        )
      }

      <button
        class="transition-all text-left duration-200 ease-in-out py-2 px-4 rounded-md text-black/80 hover:text-white hover:bg-black/80"
      >
        Cerrar sesion
      </button>
    </ul>
  </nav>
</aside>

<script>
  const $button = document.querySelector("button");

  if ($button)
    $button.onclick = () => {
      console.log("logout");

      fetch("/api/auth/logout")
        .then((res) => {
          if (res.ok) {
            window.location.href = "/";
          }
        })
        .catch((err) => {
          console.error(err);
        });
    };
</script>
