---
import LiElement from "./aside-utils/li-element.astro";

// @ts-expect-error - Astro doesn't know about locals yet
const user = Astro.locals.user;
---

<aside class="h-screen overflow-hidden border-r border-r-white/20 px-5 py-4">
    <h1 class="text-2xl font-bold text-white mb-4">
        Hello {user.firstName}!
    </h1>

    <nav>
        <ul class="flex flex-col gap-1">
            <LiElement href="/dashboard"> Home </LiElement>
            <LiElement href="/dashboard/sell-point">Sell Point</LiElement>
            {
                user.role === "admin" && (
                    <>
                        <LiElement href="/dashboard/inventory">
                            Inventory
                        </LiElement>
                        <LiElement href="/dashboard/workers">Workers</LiElement>
                        <LiElement href="/dashboard/reports">Reports</LiElement>
                    </>
                )
            }
        </ul>
    </nav>
</aside>
