<aside>
    <nav>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/dashboard/settings">Settings</a></li>
            <li><a href="/dashboard/profile">Profile</a></li>
            <li>
                <a href="/dashboard/inventory">Inventory</a>
            </li>

            <li>
                <a href="/dashboard/reports">Reports</a>
            </li>

            <li>
                <a href="/dashboard/sell-point">Sell Point</a>
            </li>
        </ul>
    </nav>
</aside>