---
import Layout from "./Layout.astro";
import Aside from "@/components/dashboard/aside.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="flex h-screen w-screen overflow-hidden">
    <Aside />

    <div class="p-8 h-full flex-1 overflow-y-auto">
      <slot />
    </div>
  </div>
</Layout>
