---
import Layout from "./Layout.astro";
import Aside from "@/components/dashboard/aside.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="flex h-screen w-screen overflow-hidden">
    <Aside class="animate-slide-in-left" />

    <div class="p-8 h-full flex-1 overflow-y-auto animate-slide-in-left">
      <slot />
    </div>
  </div>
</Layout>

<style>
  @keyframes slide-in-left {
    0% {
      transform: translateX(-5%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in-left {
    animation: slide-in-left 0.3s ease-out;
  }
</style>
